#hero,
#highlights,
#testimonials,
#find-us,
#planos {
    background: #f4f4f4;
    border-top: 0.125rem solid #e4e4e4;
    width: 100%;
    display: flex;
    padding-bottom: 0;
    border: none;
    box-sizing: border-box;
    scroll-margin-top: 80px;
    margin-bottom: 20px;
}

#hero>img,
#highlights>img,
#testimonials>img,
#find-us>img {
    position: absolute;
    right: 0;
    height: 48%;
    padding-left: 30%;
}

#hero p,
#highlights p,
#testimonials p,
#find-us p {
    color: var(--second-text-color);
    margin: 10px 0;
}

#hero .content,
#highlights .content,
#testimonials .content,
#find-us .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    gap: 1.75rem;
}

#hero .content>div,
#highlights .content>div,
#testimonials .content>div,
#find-us .content>div {
    width: fit-content;
    align-self: center;
    margin-bottom: 1%;
}

#hero .content p,
#highlights .content p,
#testimonials .content p,
#find-us .content p,
#planos .content p {
    width: 80%;
    align-self: center;
}

.highlight-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 147, 76, 0.2);
    box-sizing: border-box;
}

.highlight-item h3,
.highlight-item p {
    margin: 0.5rem 0;
    width: 100%;
    word-break: normal;
}

.highlight-item h3 {
    font-size: 1.5rem;
}

.highlight-item p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bolder;
    word-break: break-word;
}

.highlight-item .author h3,
.author p {
    display: inline;
    margin-right: 10px;
    padding-bottom: 10px;
}

.highlights-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.content {
    gap: 2.5rem;
    margin-bottom: 10px;
}

.content p {
    width: 80%;
    align-self: center;
}

.content p:first-of-type {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

.gallery-image {
    max-width: 800px;
    max-height: 400px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

#planos .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.planos-cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
}

.features-container {
    text-align: left;
    /* Alinha o texto à esquerda */
}

.features {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
    /* Espaçamento entre os itens */
}

.features img {
    margin-right: 8px;
    /* Espaçamento entre o ícone e o texto */
}


.plano-card {
    flex: 1;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.plano-preco {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2a9d8f;
}

.plano-card {
    transition: transform 0.3s ease;
}

.plano-card:hover {
    transform: scale(1.1);
}